h1{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.containers{
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 2rem;
}
.connect{
    width: 95vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    padding-top: 1.5rem;
    border: 2px solid red;
    
}
.left-cont{
    width:30%;
    height: 90%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.left-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-cont{
    width: 65%;
    height: 90%;
    display: flex;
    flex-direction: column;   /* Change from row to column */
    align-items: flex-start;  /* Align items to the left */
    justify-content: flex-start; /* Align items to the top */
    margin-bottom: 20px;
    border: 2px solid red;
}
.city{
    width: 100%; /* or any suitable width */
    height: 88%;
    /* border: 2px solid red; */
    padding-left: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Change from row to column */
    margin-bottom: 1.5rem; /* Add some space between cities */
}
.right-cont h2{
   text-align: left;
   margin: 0; /*  Remove default margin */
   padding-left: 1rem;
    font-size: 2rem; /* Adjust font size as needed */
}
.city h3{
    text-align: left;
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 0.7rem; /*  Add some space below the heading */
   margin-top: 0.5rem; /* Add some space above the heading */
}
.city p {
    margin: 0;
}
p {
    margin: 0;
}
.cities-row {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; space between cities */
    width: 100%;
    margin-top: 0.5rem;
}

